::before,
::after {
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/logo.jpg');
}
nav {
  padding: 15px;
  position: absolute; top: 15px; left: 70px;
}
a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
a:hover:not(.active){
  filter: brightness(.4);
}
form {
  padding: 20px;
  width: 800px;
  position: relative; left: 25%; top: 20%;
}
 input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: solid white 3px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  transition: width 2s;
}

input:focus {
  width: 95%;
}
label {
  color: #335893;
}
button {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  background-color: transparent;
  color: white;
  border:  2px solid white;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}
button:hover {
  background-color: white;
  color: #335893;
}
select {
  float: right;
  width: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
.cover {
  margin-left: 50px;
  background-color: #335893;
  width: 2300px;
  height: 400px;
}
.container {
  padding: 20px;
  width: 1800px;
  margin: auto;
}
.form-container {
  padding: 50px;
  margin-top: 100px;
  background-color: #161616;
  height: 1000px;
}
.input {
  margin-top: 20px;
}

#title {
  color: white;
  font-size: 50px;
  margin-left: 600px;
}
