::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/logo.jpg');
}
nav {
  background-color: inherit;
  position: absolute; top: 15px; left: 70px;
  padding: 10px;
}
a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
a:hover:not(.active){
  filter: brightness(.4);
}

.img {
  margin-left: 50px;
}
.img img {
  height: 600px;
  width: 2000px;
}
.container {
  width: 1800px;
  height: 1400px;
  margin: auto;
}
.shoe-container {
  margin: auto;
  margin-left: 10px;
}
#description {
  color: white;
  width: 400px;
  position: absolute; left: 200px; top: 100px;
  font-size: 20px;
  font-family: 'Lalezar', cursive;
}
#shoe {
  float: left;
  width: 400px;
  height: 300px;
  margin-top: 15px;
}
#shoe:hover{
  cursor: pointer;
  filter: brightness(.3);
}
#shoe:nth-child(2){
  margin-right: 16.5px;
  margin-left: 16.5px;
}
#shoe:nth-child(4){
  margin-left: 16.5px;
}
